body{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
ul{
    list-style-type: none;
}
h1{
    font-family: 'Segoe UI';
    margin-bottom: -1px;
    margin-top: -1px;
}
p{
    font-family: 'Segoe UI';
    margin-top: -1px; 
    font-size: large; 

}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
